# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc

.gitignore/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio Code
.vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py
